<footer>
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
	<div class="footer">
		<div class="inner_footer">
			<div class="footer_third">
				{{#if english}}

            	{{else}}
				<h1>Контактная информация</h1>
				<a href="https://www.facebook.com/association.esd/">FaceBook</a>
				<a href="mailto:esda@tut.by?subject=ESDA">e-mail</a>
				<a href="tel:80173276372">Телефон</a>
				<a>220050, г. Минск, ул. Советская, 18 – 3 – 233</a>
				{{/if}}
			</div>
		</div>
	</div>
</footer>