<footer>
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <div class="footer">
        <div class="inner_footer">
            <div class="footer_third">
                <h1>{{__ 'contactInfo'}}</h1>
                <a href="https://www.facebook.com/association.esd/">FaceBook</a>
                <a href="mailto:esda@tut.by?subject=ESDA">e-mail: esda@tut.by</a>
                <a href="tel:80173276372">{{__ 'phoneNumber'}}: 80173276372</a>
                <a>220050, {{__ 'address'}}</a>
            </div>
        </div>
    </div>
</footer>
