<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/all.css"/>
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <title>{{Title}}</title>

</head>

<body>
    {{>header}}
    <main>
    {{{body}}}
    </main>
    {{>footer}}
</body>
<html>
