<div>
    {{#if isAdmin}}
    <a href="/news/add">Добавить</a>
    {{else}}
        {{#if News.0.id}}
        {{#each News}}
        <div>
        <p> {{this.title}}</p>
            <p>{{#formatTime this.newDate}}{{/formatTime}}</p>
            <p>{{this.messageShort}}</p>
        </div>
        {{/each}}
        {{else}}
        <p>Новостей на данный момент нет. Зайдите позже</p>
        {{/if}}
    {{/if}}
</div>