*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, Verdana, sans-serif;
  }
  .footer{
    border-top: 1px solid #C8D090;
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 40px 0;
    box-sizing: border-box;
    background-color: #cbe3cb;
  }
  .inner_footer{
    display: block;
    margin: 0 auto;
    width: 1024px;
    height: 100%
  }
  .inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
  }
  
  .inner_footer .logo_container h1{
    height: 100%;
    color: black;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 800;
  }
  .inner_footer .logo_container h1 span{
    font-weight: 200;
  }
  
  .inner_footer .logo_container img{
    width: 32px;
    height: auto;
    margin-left: -50px;
    margin-top: -35px;
  }
  
  .inner_footer .footer_third{
    margin-right: 10px;
    float: left;
    height: 100%;
  }
  .inner_footer .footer_third:last-child{
    margin-right: 0;
  }
  .inner_footer .footer_third h1{
    font-size: 22px;
    color: black;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .inner_footer .footer_third a{
    font-size: 18px;
    font-weight: 200;
    color: black;
    display: block;
    width: 100%;
    padding-bottom: 5px;
  }
  .inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
  }
  .inner_footer .footer_third span{
    color: white;
    font-size: 14px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
  }
  @media(max-width: 600px){
    .footer .inner_footer{
      width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third
    {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  
  #foot-menu:hover{
      color: green;
      font-size: 18px;
  }
  
  iframe{
    margin-left: 100px;
  }
