.form-input__container{
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.form__text-input{
    width: 500px;
    height: 35px;
    border: 1px  solid gray;
    border-radius: 15px;
    padding: 5px 15px;
    text-decoration: none;
    outline: none;
    margin-bottom: 15px;
}
.form__text-input:focus, .form__text-input:active{
    border: 2px solid #cbe3cb;
}

.form__photo-input{
    width: 100%;
    max-width: 530px;
    margin-bottom: 20px;
}
#photos{
    width: 100%;
    max-width: 530px;
    margin-bottom: 20px;
}
.form__button{
    width: auto;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    margin: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}
.form__button:hover{
    border:2px solid #cbe3cb;
}
.form__button:focus, .form__button:active{
    transform: scale(0.95);
}
.form__textarea{
    width: 500px;
    height: 100px;
    border: 1px  solid gray;
    border-radius: 15px;
    padding: 5px 15px;
    text-decoration: none;
    outline: none;
    margin-bottom: 15px;
    overflow: hidden;
    resize: none;
}
.form__title {
    font-size: 20px;
    color: green;
    text-align: center;
}
.form__textarea.large{
    height: 250px;
}
span{
    text-align: center;
}
form {
    margin: 30px;
}

.content-wrapper {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.content__link {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 10px 20px;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    color: green;
    background: linear-gradient(to right, green 0, green) bottom no-repeat;
    background-size: 70% 4px;
}

.content__link:hover {
    background-size: 80%;
}

.content__file-upload{
    background: #7bc74d;
    padding: 19px;
    color: #fff;
    text-decoration: underline;
}

.content__item{
    float: left;
    margin: 0 1.5%;
    width: 30%;
    word-wrap: break-word;
}